# .env.sample - Sample Environment Variables for Client (Vite)

# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=http://localhost:3310

# Other Environment Variables (if needed)

CLIENT_ID = YOUR_SPOTIFY_ID
CLIENT_SECRET = YOUR_SPOTIFY_SECRET_ID

# VITE_OTHER_VARIABLE=value
