@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --primary-color: #f4f6fc;
  --secondary-color: #090a0e;
  --primary-color-rgb: 244, 246, 252;
  --secondary-color-rgb: 9, 10, 14;
  --bg-gradient: linear-gradient(to top right, #3427a9, #bd419c);

  /* Fonts */
  --font-title: "Quicksand", "Poppins", sans-serif;
  --font-content: "Roboto", "Rubik", sans-serif;

  /* Font sizes */
  --logo-mobile: 1.25rem;
  --logo-desktop: 2.125rem;
  --placeholder-mobile: 0.75rem;
  --placeholder-desktop: 1.25rem;
  --title-mobile: 1rem;
  --title-desktop: 1.5rem;
  --primary-content-mobile: 0.875rem;
  --primary-content-desktop: 1.125rem;
  --secondary-content-mobile: 0.75rem;
  --secondary-content-desktop: 1rem;
  --artist-name-mobile: 1.25rem;
  --artist-name-desktop: 1.875rem;
  --artist-desc-mobile: 0.75rem;
  --artist-desc-desktop: 1rem;
  --album-artist-name-mobile: 1.125rem;
  --album-artist-name-desktop: 1.5rem;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --bolder: 800;

  /* Other font style */
  --font-stroke: -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color), -1px 1px 0 var(--secondary-color),
    1px 1px 0 var(--secondary-color);

  /* Images & cards */
  --rounded: 1.25rem;
  --bg-mobile-card-width: 11.875rem;
  --bg-mobile-card-height: 6.25rem;
  --bg-desktop-card-width: 17.5rem;
  --bg-desktop-card-height: 9.375rem;
  --img-mobile-card: 5rem;
  --img-desktop-card: 8.125rem;
  --border-card: 0.063rem;
  --border-img-card: 0.031rem;
  --border-artist-mobile: 0.125rem;
  --border-artist-desktop: 0.25rem;
  --width-artist-mobile: 9.375rem;
  --height-artist-mobile: 7rem;
  --width-artist-desktop: 21.875rem;
  --height-artist-desktop: 16.438rem;
  --album-mobile-card: 5.625rem;
  --album-desktop-card: 11.25rem;
  --shuffle-album-mobile: 6.875rem;
  --shuffle-album-desktop: 15rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-gradient);
  background-attachment: fixed;
}

header {
  display: flex;
}

.topPage {
  background-color: var(--secondary-color);
  border-bottom: 0.1rem solid var(--primary-color);
  width: 100%;
  color: var(--primary-color);
  font-size: var(--title-mobile);
  font-family: var(--font-title);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
}

.linkToOtherPages {
  display: none;
}

.navBarBottom {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  padding-top: 0.5rem;
  margin-top: 0;
  bottom: 0;
  border-top: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
  font-size: var(--primary-content-mobile);
  font-family: var(--font-content);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  z-index: 1;
}

nav > p {
  margin: 0.5rem;
}

footer {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding-top: 0.5rem;
  margin-top: 0;
  margin-bottom: 4.2rem;
  color: var(--primary-color);
  font-size: var(--primary-content-mobile);
  font-family: var(--font-content);
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

@media screen and (min-width: 992px) {
  .topPage {
    background-color: var(--secondary-color);
    border-bottom: 0.1rem solid var(--primary-color);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--title-mobile);
    font-family: var(--font-title);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topPage > h1 {
    transform: translate(-250%);
  }

  .topPage > a {
    display: flex;
    padding-right: 25rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-content-mobile);
    font-weight: var(--bold);
    font-family: var(--font-content);
  }

  .topPage > a:last-child {
    padding-right: 5rem;
  }

  .navBarBottom {
    display: none;
  }

  footer {
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    margin-top: 0;
    margin-bottom: 0rem;
    bottom: 0;
    border-top: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--primary-content-mobile);
    font-family: var(--font-content);
    display: flex;
    justify-content: space-between;
  }

  footer > p:first-child {
    padding-left: 2rem;
  }

  footer > p:last-child {
    padding-right: 2rem;
  }
}
