@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --primary-color: #f4f6fc;
  --secondary-color: #090a0e;
  --primary-color-rgb: 244, 246, 252;
  --secondary-color-rgb: 9, 10, 14;
  --bg-gradient: linear-gradient(to top right, #3427a9, #bd419c);

  /* Fonts */
  --font-title: "Quicksand", "Poppins", sans-serif;
  --font-content: "Roboto", "Rubik", sans-serif;

  /* Font sizes */
  --logo-mobile: 1.8rem;
  --logo-desktop: 2.125rem;
  --placeholder-mobile: 0.8rem;
  --placeholder-desktop: 1.25rem;
  --title-mobile: 1rem;
  --title-desktop: 1.5rem;
  --primary-content-mobile: 0.875rem;
  --primary-content-desktop: 1.125rem;
  --secondary-content-mobile: 0.75rem;
  --secondary-content-desktop: 1rem;
  --artist-name-mobile: 1.25rem;
  --artist-name-desktop: 1.875rem;
  --artist-desc-mobile: 0.75rem;
  --artist-desc-desktop: 1rem;
  --album-artist-name-mobile: 1.125rem;
  --album-artist-name-desktop: 1.5rem;

  /* Font weights */

  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Other font style */
  --font-stroke: -0.025rem -0.025rem var(--secondary-color),
    0.025rem -0.025rem var(--secondary-color),
    -0.025rem 0.025rem var(--secondary-color),
    0.025rem 0.025rem var(--secondary-color),
    0.05rem 0.05rem var(--secondary-color);

  /* Images & cards */
  --opacity-card: 0.5;
  --outside-shadow: 0 0.25rem 0.25rem 0 rgba(var(--secondary-color-rgb), 0.25);
  --inner-shadow: rgba(var(--secondary-color-rgb), 0.2) 0 0.25rem 0.25rem 0
    inset;
  --rounded: 1.25rem;
  --bg-mobile-card-width: 11.875rem;
  --bg-mobile-card-height: 6.25rem;
  --bg-desktop-card-width: 17.5rem;
  --bg-desktop-card-height: 9.375rem;
  --img-mobile-card: 5rem;
  --img-desktop-card: 7rem;
  --border-card: 0.063rem;
  --border-img-card: 0.031rem;
  --border-artist-mobile: 0.125rem;
  --border-artist-desktop: 0.25rem;
  --width-artist-mobile: 9.375rem;
  --height-artist-mobile: 7rem;
  --width-artist-desktop: 21.875rem;
  --height-artist-desktop: 16.438rem;
  --album-mobile-card: 5.625rem;
  --album-desktop-card: 11.25rem;
  --shuffle-album-mobile: 6.875rem;
  --shuffle-album-desktop: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-gradient);
  background-attachment: fixed;
}

h1 {
  font-size: var(--logo-mobile);
  font-family: var(--font-title);
  color: var(--primary-color);
  padding-bottom: 0.3rem;
  padding-right: 2rem;
}

h2 {
  font-size: var(--title-mobile);
  font-family: var(--font-content);
  font-weight: var(--bold);
  color: var(--primary-color);
  text-shadow: var(--font-stroke);
  margin: 0.7rem;
}

main {
  min-height: 82vh;
}

/* HomePage sections & Cards */

.popular-artist,
.best-album,
.team-choice {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.artist-card,
.album-card,
.music-card {
  margin: 0 1rem 1rem 0.5rem;
  background: rgba(var(--primary-color-rgb), var(--opacity-card));
  border-radius: var(--rounded);
  border: var(--border-card) solid var(--primary-color);
  box-shadow: var(--outside-shadow), var(--inner-shadow);
  width: var(--bg-mobile-card-width);
  height: var(--bg-mobile-card-height);
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.artist-picture,
.album-picture,
.music-picture {
  width: var(--img-mobile-card);
  height: var(--img-mobile-card);
  border-radius: 50%;
  border: var(--border-img-card) solid var(--secondary-color);
  box-shadow: var(--outside-shadow);
  place-self: center;
}

.album-picture,
.music-picture {
  border-radius: var(--rounded);
}

.artist-desc,
.album-desc,
.music-desc {
  background: var(--primary-color-rgb);
  font-family: var(--font-content);
  color: var(--secondary-color);
  font-size: var(--secondary-content-mobile);
  font-weight: var(--medium);
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.1rem;
  white-space: normal;
}

.artist-desc {
  padding-bottom: 0.4rem;
}

.artist-name {
  background: var(--primary-color-rgb);
  font-size: var(--primary-content-mobile);
  font-weight: var(--bold);
}

.link-card {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-first-title {
  margin-top: 1.1rem;
}

/* SearchPage */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--primary-color-rgb), var(--opacity-card));
  border-bottom: 0.1rem solid var(--primary-color);
  height: 3rem;
  margin-bottom: 1rem;
}

.searchbarInput {
  width: 70%;
  height: 2.1rem;
  padding: 0.4rem;
  border-radius: 1rem;
  background: var(--primary-color);
}

.searchbarInput::placeholder {
  color: var(--secondary-color);
  font-family: var(--font-content);
  font-weight: var(--semi-bold);
  font-size: var(--placeholder-mobile);
}

.search-button {
  border: none;
  background: none;
}

.search-icon {
  width: 50px;
  display: flex;
  padding-left: 20px;
}

.albumImage {
  width: 200px;
  display: flex;
  justify-content: center;
}

.search-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.albumName {
  font-size: 30px;
  font-family: var(--font-content);
}

label {
  font-size: 0px;
}

.topPage {
  background-color: var(--secondary-color);
  border-bottom: 0.1rem solid var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  padding: 0.3rem;
  padding-top: 0.5rem;
}

.linkToOtherPages {
  display: none;
}

.navBarBottom {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  height: 9%;
  margin-top: 0;
  bottom: 0;
  border-top: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
  font-size: var(--primary-content-mobile);
  font-family: var(--font-content);
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  z-index: 1;
}

nav > a {
  text-decoration: none;
  width: var(--logo-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.navBarBottom > a:last-child,
.navBarBottom > a:nth-last-child(2),
.navBarBottom > a:nth-last-child(3) {
  color: var(--primary-color);
  font-size: var(--title-mobile);
  font-family: var(--font-content);
  font-weight: var(--bold);
}

.title-404 {
  font-size: var(--logo-desktop);
}

/* Footer */

footer {
  background: rgba(var(--primary-color-rgb), var(--opacity-card));
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 3.7rem;
  color: var(--primary-color);
  font-size: var(--primary-content-mobile);
  font-family: var(--font-content);
  display: flex;
  justify-content: space-around;
  z-index: 0;
  text-shadow: var(--font-stroke);
}

footer > p {
  font-size: var(--secondary-content-mobile);
  font-family: var(--font-content);
  font-weight: var(--bold);
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: var(--title-desktop);
  }

  .artist-card,
  .album-card,
  .music-card {
    width: var(--bg-desktop-card-width);
    height: var(--bg-desktop-card-height);
  }

  .artist-picture,
  .album-picture,
  .music-picture {
    width: var(--img-desktop-card);
    height: var(--img-desktop-card);
    margin: 0 0.8rem 0 0.8rem;
  }

  .artist-desc,
  .album-desc,
  .music-desc {
    font-size: var(--secondary-content-desktop);
  }

  .artist-name {
    font-size: var(--primary-content-desktop);
  }

  .searchbarInput {
    width: 40%;
  }

  .searchbarInput::placeholder {
    font-size: 1rem;
  }

  .topPage {
    background-color: var(--secondary-color);
    border-bottom: 0.1rem solid var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  h1 {
    font-size: var(--logo-desktop);
  }

  .logo {
    height: 3.5rem;
  }

  .topPage > a {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--title-desktop);
    font-weight: var(--bold);
    font-family: var(--font-content);
  }

  .linkToOtherPages {
    margin: auto;
  }

  .navBarBottom {
    display: none;
  }

  footer {
    background-color: var(--secondary-color);
    width: 100%;
    padding-top: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    bottom: 0;
    border-top: 0.1rem solid var(--primary-color);
    display: flex;
    justify-content: space-between;
  }

  footer > p {
    font-size: var(--secondary-content-desktop);
  }

  footer > p:first-child {
    padding-left: 2rem;
  }

  footer > p:last-child {
    padding-right: 2rem;
  }

  main {
    min-height: 81.8vh;
  }

  .searchbarInput {
    width: 40%;
  }

  .searchbarInput::placeholder {
    font-size: 1rem;
  }
}
